.not-found-container {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.not-found-image {
  width: 50%;
  margin-bottom: 10px;
}

.not-found-heading {
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.not-found-para {
  color: #fff;
  font-size: 15px;
}
